.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  /* Places images in row rather from column */
  display: flex;
  /* horizontal scrolling*/
  overflow-y: hidden;
  overflow-x: scroll;
  /* padding stops cropping of images when they grow */
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  /* This says to rows to stop displaying element but keep the functionality */
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  /* transform with transition gives slow image grow effect*/
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.modal__pop {
  height: 392px;
  width: 697px;
  top: "50%";
  left: "50%";
  right: "auto";
  bottom: "auto";
  margin-right: "-50%";
  transform: translate(-50%, -50%);
}

.modal__youtube {
  height: 392px;
  width: 697px;
  top: "50%";
  left: "50%";
  right: "auto";
  bottom: "auto";
  margin-right: "-50%";
  transform: translate(-50%, -50%);
  object-fit: contain;
}
